@import './fonts.css';

body {
  margin: 0;
  padding: 0;
}
.banner {
  display: grid;
  grid-template-rows: 50px 400px 100px;
}
.features {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.flex-container-50 {
  flex-basis: 50%;
  overflow: auto;
}
.flex-container-80 {
  flex-basis: 80%;
  overflow: auto;
}
.flex-container-100 {
  flex-basis: 100%;
  overflow: auto;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  .features {
    flex-direction: column;
  }
}