@import "./fonts.css";

body {
  margin: 0;
  padding: 0;
}
/* .animate {
  transition: all 1.6s cubic-bezier(0.2, 0.6, 0.2, 1);
} */
:root {
  --mainColor: #eabb56;
}
.animate {
  transition: all 1.6s cubic-bezier(0.2, 0.6, 0.2, 1);

  background: linear-gradient(
    to right,
    var(--mainColor) 0%,
    var(--mainColor) 5px,
    transparent 5px
  );
  background-repeat: repeat-x;
  background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}

.animate:hover {
  background: linear-gradient(
    to right,
    var(--mainColor) 0%,
    var(--mainColor) 5px,
    transparent
  );
}
.banner,
.banner-main {
  display: grid;
  align-items: center;
  grid-template-rows: 50px 400px 100px;
  padding: 20px 0;
}
.banner-main {
  grid-template-rows: 450px 100px;
}
.features {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.flex-container-50 {
  flex-basis: 50%;
  overflow: auto;
}
.flex-container-90 {
  flex-basis: 90%;
  max-width: 500px;
  overflow: auto;
}
.flex-container-100 {
  flex-basis: 100%;
  overflow: auto;
}
