@font-face {
  src: url(../fonts/Teko-Regular.ttf);
  font-family: Teko;
}

.teko {
  font-family: Teko, sans-serif;
}

@font-face {
  src: url(../fonts/Bangers-Regular.ttf);
  font-family: Bangers;
}

.bangers {
  font-family: Bangers, sans-serif;
}

@font-face {
  src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
  font-family: Comfortaa;
}

.logo {
  font-family: Comfortaa, sans-serif;
}

@font-face {
  src: url(../fonts/Family-Guy-Font.ttf);
  font-family: FamilyGuy;
}

.family {
  font-family: FamilyGuy, sans-serif;
}
